@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

a {
    cursor: pointer;
}

img {
    width: 100%;
}

.purple {
    color: #6415ff;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

#landing {
    height: 100vh;
    width: 100vw;
    padding: 0 32px;
}

/* 

NAV

*/

nav {
    padding-top: 32px;
    display: flex;

}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.nav__logo--img {
    width: 100%;
    max-width: 40px;
}

.nav__logo--title {
    display: flex;
    align-items: center;
    margin-left: 12px;
    font-size: 24px;
    font-weight: 900;
}

.nav__links {
    display: flex;
    align-items: center;

}

.nav__link {
    text-decoration: none;
    padding: 0 24px;
    font-size: 14px;
    font-weight: 600;
}

.nav__link--primary {
    background-color: #6415ff;
    color: #fff;
    border-radius: 50px;
    padding: 12px 32px;
}

.nav__link:after {
    content: "";
    display: flex;
    border: 1px solid #6415ff;
    opacity: 0;
    transition: opacity 300ms ease;
}

.nav__link:hover:after {
    opacity: 1;
}

/* 

LANDING 

*/

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header__description {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__description--title {
    width: 100%;
    font-size: 32px;
    color: #1a202c;
}

.header__description--para {
    width: 100%;
    margin: 20px 0;
    line-height: 1.5;
}

.header__email {
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    position: absolute;
    width: 100%;
    max-width: 450px;
    padding: 20px;
    border-radius: 50px;
    border: 2px solid rgb(229, 231, 235);
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 600;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.header__email--input::placeholder {
    color: rgb(158, 170, 189);
    font-weight: 500;
}

.header__btn {
    background-color: #6415ff;
    color: #fff;
    width: 100%;
    max-width: 160px;
    height: calc(100% - 16px);
    margin: 8px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 50px;
    z-index: 2;
}

.header__customers {
    width: 100%;
}

.header__customers {
    width: 100%;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__customers--title {
    color: rgb(158, 170, 189);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
}

.header__customers--img {
    margin-top: 10px;
    opacity: 0.5;
}

.header__img--wrapper {
    width: calc(100% - 40%);
    margin-top: 60px;
}

.header__img {
    width: 100%;
}

